<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>461498559886-riaj821qsgcopmj4vlku36e3fbr7as5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461498559886-riaj821qsgcopmj4vlku36e3fbr7as5n</string>
	<key>API_KEY</key>
	<string>AIzaSyBJqcb-ifz5RCCSmbMNwXIH9EHeAok85CA</string>
	<key>GCM_SENDER_ID</key>
	<string>461498559886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.willowapp</string>
	<key>PROJECT_ID</key>
	<string>willow-f35f4</string>
	<key>STORAGE_BUCKET</key>
	<string>willow-f35f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:461498559886:ios:5babd0d3517b1098</string>
	<key>DATABASE_URL</key>
	<string>https://willow-f35f4.firebaseio.com</string>
</dict>
</plist>